.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  font-weight: 500;
  font-size: 34px;
  margin-bottom: var(--mantine-spacing-md);
  font-family: Outfit, var(--mantine-font-family);
  color: rgb(0, 255, 38);
  @media (max-width:47.99em) {
    font-size: 32px;
    color: rgb(255, 162, 0);
  }
}

.control {
  @media (max-width:47.99em) {
    width: 100%;
  }
}
 .mobileImage {
    @media (min-width:48em) {
     display: none !important; 
  }

}

.desktopImage {
   @media(max-width:47.99em) {
     display: none !important;
  
  }
}
